.place__link {
  margin-top: 12px;
  font-size: 18px;
  line-height: 122%;
  color: inherit;
  transition: opacity 0.5s linear;
  text-decoration: none;
  border-bottom: 1px solid white;
  
}

.place__link:hover {
  opacity: 0.8;
}